.toggle-button {
    display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition: transform 0.2s ease-in 0.2s;
}

.sun,
.moon,
.auto {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s;
}

@keyframes rotate {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(0deg);
	}
}

[icon-theme="dark"] .moon {
	opacity: 1;
	animation: rotate 1s ease-out;
}

[icon-theme="light"] .sun {
	opacity: 1;
	animation: rotate 1s ease-out;
}

[icon-theme="auto"] .auto {
	opacity: 1;
	animation: rotate 1s ease-out;
}
